@import url(http://fonts.googleapis.com/css?family=Merienda+One);
/* =============================================================================
   Resets
   Taken From: Html 5 Boilerplate;
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;

    background: url('img/bg.jpg');
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* =============================================================================
   Main Style
   ========================================================================== */

#container {
	width: 960px;
	margin: 0 auto;
}

#container header {
	text-align: center;
	font-family: 'Merienda One', cursive;
}

#container header h2 {
	text-shadow: -1px -1px #333;
	font-size: 30pt;
	color: #6BA6FF;

}

#container header h2 span {
	color: #FF6BA6;
  cursor: pointer;
}

#container section.panel {
	margin-top: 20px;
  margin-bottom: 20px;
	padding: 10px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
  border: 1px solid rgb(200,200,200);

	-moz-box-shadow: 0px -1px 10px #ccc;
	-webkit-box-shadow: 0px -1px 10px #ccc;
	box-shadow: 0px -1px 10px #ccc;
	background: rgba(245,245,245,1);
	color: #787878;
}

#container section.panel form textarea {
	width: 930px;
	max-width: 930px;
	padding: 5px;
  min-height: 145px;
	font-size: 12pt;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
	border: 1px solid #CCC;
	background: rgba(255,255,255,0.6);
	outline: none;
}

#container section.panel form div.textarea {
  width: 930px;
  max-width: 930px;
  padding: 5px;
  margin-bottom: 10px;
  min-height: 145px;
  font-size: 12pt;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  border: 1px solid #CCC;
  background: rgba(255,255,255,0.6);
  outline: none;
}

.incorrect {
  margin: 0;
  padding:3px 5px;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  color: white;
  background-color: #FF6BA6;
  cursor: pointer;
}

.menu {
  display: none;
  width: 200px;
  position: absolute;
  top:0;
  left: 0;
  background: #f5f5f5;
  z-index: 1000;

  -moz-border-radius-top: 8px;
  -webkit-border-radius-top: 8px;
  border-radius: 8px;
  border: 1px solid rgb(200,200,200);

  -moz-box-shadow: 0px -1px 10px #ccc;
  -webkit-box-shadow: 0px -1px 10px #ccc;
  box-shadow: 0px -1px 10px #ccc;
}

.menu ul {
  margin: 0;
  list-style: none;
  padding:0;
}

.menu ul li {
  height: 30px;
  padding-top:10px;

  font-size: 12pt;
  text-align: center;
  display: block;
  border-bottom: 1px solid rgb(230,230,230);
}

.menu ul li:first-of-type {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.menu ul li:last-of-type {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.menu ul li:hover {
  background: rgb(240,240,240);
}

.menu ul li a {
  color: #787878; 
  text-decoration: none;
}

.menu ul li.split {
  height: 41px;
  padding-top: 0;
}

.menu ul li.split:hover {
  background: none;
}

.menu ul li.split a {
  float:left;
  height: 33px;
  width: 100px;

  padding-top: 5px
}

.menu ul li.split a:last-of-type{
  width:99px;
  border-left:1px solid rgb(230,230,230);
}

.menu ul li.split a:hover {
  background: rgb(240,240,240);
}

.correct {
  padding:3px 5px;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  color: white;
  background-color: #7fbf4d;
  cursor: pointer;
}

#dictionary-add-view {
  max-height: 0px;
  visibility: hidden;
  overflow: hidden;
  transition        : all 0.5s linear;
  -moz-transition   : all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition     : all 0.5s linear;
}

#dictionary-add-view.slide {
  visibility: visible;
  max-height: 700px;
}

#dictionary-add-view .demo-menu {
  width: 200px;
  position: absolute;
  right: -20px;
  background: #f5f5f5;
  z-index: 1000;

  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid rgb(200,200,200);

  -moz-box-shadow: 0px -1px 10px #ccc;
  -webkit-box-shadow: 0px -1px 10px #ccc;
   box-shadow: 0px -1px 10px #ccc;
}

.demo-menu ul {
  margin: 0;
  list-style: none;
  padding:0;
}

.demo-menu ul li {
  height: 30px;
  padding-top:10px;

  font-size: 12pt;
  text-align: center;
  display: block;
  border-bottom: 1px solid rgb(230,230,230);
}

.demo-menu ul li:first-of-type {
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
}

.demo-menu ul li:last-of-type {
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
}

.demo-menu ul li:hover {
  background: rgb(240,240,240);
}

.demo-menu ul li a {
  color: #787878; 
  text-decoration: none;
}

#main-view {
  margin-top: 20px;
  margin-bottom: 20px;
	transition        : all 0.5s linear;
	-moz-transition   : all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-o-transition     : all 0.5s linear;
}



/* clean gray
*******************************************************************************/
button.clean-gray {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px; 
}
button.clean-gray:hover {
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(top, #dddddd, #bbbbbb);
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd; 
}
button.clean-gray:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; 
}

/* cupid green (inspired by okcupid.com)
*******************************************************************************/
button.cupid-green {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px; 
}
button.cupid-green:hover {
  background-color: #76b347;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
  background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
  background-image: linear-gradient(top, #76b347, #5e9e2e);
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer; 
}
button.cupid-green:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; 
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
